---
layout: scaffold
---

<section class="promo">
    <div>
		<img src="/assets/edsRugbyLogo.png" style="width:60%; max-width:500px;" alt="Edwardian FC (Rugby Union)">

		<!-- <a href="/events" class="button">Upcoming Events</a> -->
	</div>

</section>
<div class="pageContainer" style="min-height: 50%;">
	<div class="page" style="background:transparent;text-align:center;">
			
		<!-- <h2>Latest Club Updates:</h2> -->
		<div class="social-embed-container">
			<div class="social-embed-header">Facebook Seniors</div>
			{% comment %}
			<iframe width="400px" height="350px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="+" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.2/plugins/page.php?adapt_container_width=true&amp;app_id=341221425942867&amp;container_width=320&amp;height=600&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FEdwardianFC&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline&amp;width=320" class="social-embed"></iframe>
			{% endcomment %}
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEdwardianFC%2F&tabs=timeline&width=310&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="310" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>		</div>
		<!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEdwardianFC%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" height="500" style="border:none;overflow:hidden;width:100%;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>		</div> -->
		<div class="social-embed-container">
			<div class="social-embed-header">Instagram Seniors</div>
			<!-- <div class="social-embed"><a class="twitter-timeline" href="https://twitter.com/EdsRugby?ref_src=twsrc%5Etfw">Tweets by EdsRugby</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div> -->
			<div class="social-embed"><div class='embedsocial-instagram' data-ref="77c1b58c3ba0245af58e371c220bcab97416c42b"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script></div>
		</div>
		<div class="social-embed-container">
				<div class="social-embed-header">Facebook Youths</div>
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEdsyouthrugby%2F&tabs=timeline&width=310&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="310" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>			</div>
		<br>
	</div>
	<br>
</div>
